$color-primary: #EC4653;

$color-secondary: #8CB360;

$color-white: rgb(241, 241, 241);


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}
